<div id="dipl-login-component" style="width: 100%; height: 100%">
    <div class="container h-100 d-flex align-items-center justify-content-center">
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <div class="card text-center w-100" id="dipl-login-card">
                    <div class="card-header">
                        <i class="fa fa-3x fa-user-circle-o" aria-hidden="true" style="color: #cfcfcf;"></i>
                    </div>
                    <div class="card-body" [style.opacity]="loading ? 0.5 : 1">
                        <div class="row">
                            <div class="col-12">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1"><i class="fa fa-user fa-fw"></i></span>
                                    </div>
                                    <input type="text" class="form-control" [(ngModel)]="username" placeholder="Uporabniško ime" aria-label="Username" aria-describedby="basic-addon1" [disabled]="loading">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon2"><i class="fa fa-key fa-fw"></i></span>
                                    </div>
                                    <input type="password" class="form-control" [(ngModel)]="password" placeholder="Geslo" aria-label="Username" aria-describedby="basic-addon2" [disabled]="loading">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="alert alert-danger border border-danger" role="alert" *ngIf="loginMessage.length > 0">
                                    <i class="fa fa-ban" aria-hidden="true"></i> <span> {{loginMessage}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <button type="button" class="btn btn-success btn-sm btn-block" (click)="login()" [disabled]="loading">
                                    <span *ngIf="!loading">Prijava</span>
                                    <i class="fa fa-refresh fa-spin fa-1x fa-fw" *ngIf="loading"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-muted">
                        <small>Avtor: Nino Petrovič</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

