<mat-drawer-container fullscreen>
    <mat-drawer mode="side" opened="true" style="background-color: #212238; width: 0px">
        <mat-menu ></mat-menu>
        <a mat-menu-item *ngFor="let item of examples" [routerLink]="item.route" routerLinkActive="active" style="color: #dcdcdc">{{ item.title }}</a>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>


<!-- About Modal -->
<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="aboutModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="aboutModalLabel">Dododatne informacije in dostop do programske kode</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Spletna stran je rezultat diplomskega dela. Predstavlja možnosti vizualizacije pomenskih slovarjev oz. tezavrov. Ter nudi osnovne operacije nad podatki kot je iskanje in pregled.</p>
                <p>Programska koda je javno dostopna na spodnjih povezavah. <b>(uporaba iste programske kode v drugi diplomski nalogi je PLAGIJAT!)</b></p>
                <a href="https://github.com/ninopetrovic/dipl_E1072839">https://github.com/ninopetrovic/dipl_E1072839</a><br>
                <a href="https://github.com/ninopetrovic/dipl_E1072839_service">https://github.com/ninopetrovic/dipl_E1072839_service</a>

            </div>
            <div class="modal-footer">
                <small style="color: gray">Avtor: Nino Petrovič</small>
            </div>
        </div>
    </div>
</div>
