<div class="container-fluid">
    <div class="row">
        <div class="col-12 d-flex flex-row">
            <i class="fa fa-book m-1"></i>
            <h5>Vizualizacija pomenskih slovarjev</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex flex-row">
            <div class="dropdown mr-2">
                <button class="btn btn-outline-primary dropdown-toggle" type="button" data-toggle="dropdown">Slovar
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu p-0">
                    <li class="list-group-item">EuroVoc</li>
                    <li class="list-group-item">AgroVoc</li>
                    <li class="list-group-item">STW</li>
                    <li class="list-group-item">Gemet</li>
                    <li class="list-group-item">Unsecothes</li>
                </ul>
            </div>
            <div class="dropdown mr-2">
                <button class="btn btn-outline-success dropdown-toggle" type="button" data-toggle="dropdown">Jezik
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu p-0">
                    <li class="list-group-item">EuroVoc</li>
                    <li class="list-group-item">AgroVoc</li>
                    <li class="list-group-item">STW</li>
                    <li class="list-group-item">Gemet</li>
                    <li class="list-group-item">Unsecothes</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">ConceptScheme</li>
                    <li class="breadcrumb-item active" aria-current="page">Concept</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-sm-5 pr-1">
            <div class="card">
                <div class="card-header">Hierarhična struktura slovarja</div>
                <div class="card-body p-0">
                    <div class="dipl-treeview-container">
                        <ejs-treeview #thesTreeView id='diplTreeView' [fields]="fields" ></ejs-treeview>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-7 px-lg-1 pl-sm-1">
            <div class="card">
                <div class="card-header">Entiteta</div>
                <div class="card-body">
                    This is some text within a card body.
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-sm-12 mt-sm-2 mt-lg-0 pl-lg-1">
            <div class="card">
                <div class="card-header">Vizualizacija</div>
                <div class="card-body p-0">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>
