<div class="language-ac" style="position: fixed; right: 15px; z-index: 999" class="d-flex flex-row">
    <span class="pt-1 px-2"><b>Tezaver: </b></span>
    <ejs-dropdownlist #thesSelectDropDown [value]="thesName" [dataSource]="thesDropDownDataSource" [fields]="thesDropDownFields" (select)="thesNameSelected($event)"></ejs-dropdownlist>
    <span class="pt-1 px-2"><b>Jezik: </b></span>
    <ejs-autocomplete id="isoLangAc" [(value)]="langName" [dataSource]="isoLangs" [fields]="{'value': 'name', 'text': 'nativeName'}" (select)="langSelect($event)">
        <ng-template #itemTemplate="" let-data="">
            <span>{{data['name']}} - <i>{{data['nativeName']}}</i></span>
        </ng-template>
    </ejs-autocomplete>
</div>
<div class="container-fluid pt-2">
    <div class="row">
        <div class="col-12 d-flex flex-row">
            <i class="fa fa-book m-1"></i>
            <h5>Vizualizacija pomenskih slovarjev</h5>
        </div>
    </div>
    <div class="row">
        <div class="input-group col-3 pr-1">
            <input type="text" [(ngModel)]="searchString" class="form-control" placeholder="Iskanje po oznakah iz vseh tezavrov" aria-label="label search" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" (click)="searchByLabel()">Poišči</button>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-lg-3 col-sm-5 pr-1">
            <div class="row" *ngIf="searchData">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">Rezultat iskanja</div>
                        <div class="card-body p-1">
                            <div class="d-flex justify-content-center" *ngIf="searchLoading">
                                <i class="fa fa-spinner fa-pulse fa-3x fa-fw my-4" style="color: gray"></i>
                            </div>
                            <div *ngIf="searchData.length === 0 && !searchLoading">
                                <span>Brez rezultatov</span>
                            </div>
                            <div *ngIf="searchData.length > 0">
                                <div *ngFor="let item of searchData" class="search-item">
                                    <div (click)="termSelect(item)">
                                        <b>{{item['showLabel']}} <span style="color: green">[{{this.lang}}]</span></b>
                                        <i> - ({{item['type']}})</i><span> - iz tezavra <b style="color:#a70000">{{item['thesName']}}</b></span>
                                    </div>
                                    <hr class="my-1">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">Hierarhična struktura tezavra <b>{{this.thesName}}</b> v <b>{{this.lang}}</b></div>
                        <div class="card-body p-0">
                            <div class="d-flex justify-content-center" *ngIf="thesLoading">
                                <i class="fa fa-spinner fa-pulse fa-3x fa-fw my-4" style="color: gray"></i>
                            </div>
                            <div class="dipl-treeview-container" *ngIf="thesDataSource">
                                <ejs-treeview
                                    #thesTreeView
                                    id='diplTreeView'
                                    [fields]="fields"
                                    (nodeSelected)="nodeSelected($event)"
                                    (dataBound)="treeViewdataBound()"
                                >
                                    <ng-template #nodeTemplate="" let-data="">
                                        <div class="d-flex flex-row">
                                            <div class="mr-2 type-icon">
                                                <span class="{{data.type}}"></span>
                                            </div>
                                            <div class="d-flex flex-column">
                                                <small style="color: gray; line-height: 12px">{{data.type}}</small>
                                                <span style="line-height: 16px">{{data.showLabel}}</span>
                                            </div>
                                        </div>
                                    </ng-template>
                                </ejs-treeview>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-7 px-lg-1 pl-sm-1">
            <div class="card">
                <div class="card-header">Entiteta <b>{{this.selectedEntityLabel}}</b></div>
                <div class="card-body py-1 px-2">
                    <div *ngIf="!selectedEntity">
                        <p>Nobena enititeta ni izbrana.</p>
                        <h5>O tezavru <b>{{thesName}}</b></h5>
                        <p>{{thesAboutTexts[thesName]}}</p>
                    </div>
                    <div *ngIf="selectedEntity">
                        <div style="color: gray"><span><b>URI: </b></span><span>{{selectedEntity['uri']}}</span><br></div>
                        <div style="color: gray"><span><b>TYPE: </b></span><span>{{selectedEntity['type']}}</span><br></div>
                        <h3>{{selectedEntity['showLabel']}} <span style="color: green">[{{this.lang}}]</span></h3>
                        <div class="term-label">
                            <div class="pref-label">
                                <small><i style="color: blue;">Priporočene oznake: </i></small>
                                <br>
                                <small *ngFor="let label of selectedEntity['labels'] | labelfilter:{'lang': !'LINKED', 'type': 'prefLabel'}">
                                    <span style="text-transform: uppercase;"><b>[{{label.lang}}] </b></span><span>{{label.label}}, </span>
                                </small>
                            </div>
                            <div class="alt-label">
                                <small><i style="color: blue;">Alternativne oznake: </i></small>
                                <br>
                                <small *ngFor="let label of selectedEntity['labels'] | labelfilter:{'lang': !'LINKED', 'type': 'altLabel'}">
                                    <span style="text-transform: uppercase;"><b>[{{label.lang}}] </b></span><span>{{label.label}}, </span>
                                </small>
                            </div>
                        </div>
                        <hr>
                        <h6 class="mb-1 mt-2">Širši izrazi: <small style="color: gray" *ngIf="selectedEntity['broader'].length == 0">BREZ</small></h6>
                        <ul class="list-group">
                            <li class="list-group-item" *ngFor="let term of selectedEntity['broader']" (click)="termSelect(term)">
                                <small><b style="color: #a20017">[BT] </b></small>
                                <span>{{term['showLabel']}}</span>
                            </li>
                        </ul>
                        <h6 class="mb-1 mt-2">Ožji izrazi: <small style="color: gray" *ngIf="selectedEntity['narrower'].length == 0">BREZ</small></h6>
                        <ul class="list-group">
                            <li class="list-group-item" *ngFor="let term of selectedEntity['narrower']" (click)="termSelect(term)">
                                <small><b style="color: #04a449">[NT] </b></small>
                                <span>{{term['showLabel']}}</span>
                            </li>
                        </ul>
                        <h6 class="mb-1 mt-2">Sorodni izrazi: <small style="color: gray" *ngIf="selectedEntity['related'].length == 0">BREZ</small></h6>
                        <ul class="list-group">
                            <li class="list-group-item" *ngFor="let term of selectedEntity['related']" (click)="termSelect(term)">
                                <small><b style="color: #053dc0">[RT] </b></small>
                                <span>{{term['showLabel']}}</span>
                            </li>
                        </ul>
                        <hr>
                        <h6>Povezave do drugih slovarjev:</h6>
                        <ul class="list-group">
                            <li class="list-group-item" *ngFor="let term of selectedEntity['matches']">
                                <small><b style="color: #928f93">[{{term['type']}}] </b></small>
                                <a href="{{term['thesEntityUriTo']}}" target="_blank">{{term['thesEntityUriTo']}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-sm-12 mt-sm-2 mt-lg-0 pl-lg-1">
            <div class="card">
                <div class="card-header">Vizualizacija <b *ngIf="vizualsHovered.length > 0">[{{vizualsHovered}} ]</b></div>
                <div class="card-body p-0">
                    <div class="d-flex justify-content-center" [hidden]="!!thesDataSource" style="height: 100%;">
                        <i class="fa fa-spinner fa-pulse fa-3x fa-fw my-4" style="color: gray" [hidden]="!!thesDataSource"></i>
                    </div>
                    <div [hidden]="!thesDataSource">
                        <app-eurovoc-test2
                            [lang]="this.lang"
                            [thesName]="thesName"
                            [dataSource]="this.thesDataSource"
                            (selectedLeaf)="selectedLeaf($event)"
                            (svgLoaded)="vizualsLoaded = $event"
                            (hoveredLeafText)="vizualsHovered = $event"
                        ></app-eurovoc-test2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
