#diplTreeView {
    ul:first-child {
        padding-left: 0px;
    }
}

.card-body {
    max-height: calc(100vh - 150px);
    overflow-y: scroll;
}
.card {
    margin-bottom: 10px;
}
//::ng-deep .e-fullrow {
//    height: 22px !important;
//}
//::ng-deep .e-list-text {
//    font-size: 12px !important;
//    line-height: 20px !important;
//}
//::ng-deep .e-icon-collapsible, .e-icon-expandable {
//    margin-top: -12px !important;
//    font-size: 5px !important;
//    height: 20px !important;
//}
//::ng-deep .e-text-content {
//    line-height: 20px !important;
//    max-height: 20px !important;
//}
//::ng-deep .e-list-item {
//    padding: 0px;
//}


// TYPE icons
::ng-deep .e-has-child .type-icon:before { content: '\f07c'; font-family: 'FontAwesome'; color: #dbc946; font-size: 16px;}
::ng-deep .e-list-item:not(.e-has-child) .type-icon:before { content: '\f192'; font-family: 'FontAwesome'; color: #bd0002; font-size: 16px;}

//::ng-deep.type-icon {
//    width: 15px;
//    .concept {
//        width: 10px;
//    }
//    .concept:before { content: '\f192'; font-family: 'FontAwesome'; color: #bd0002; font-size: 16px;}
//    .Concept {
//        width: 10px;
//    }
//    .Concept:before { content: '\f192'; font-family: 'FontAwesome'; color: #bd0002; font-size: 16px;}
//    .ConceptScheme {
//        width: 10px;
//    }
//    .ConceptScheme:before { content: '\f07c'; font-family: 'FontAwesome'; color: #dbc946; font-size: 16px;}
//    .group{
//
//    }
//    .group:before { content: '\f07c'; font-family: 'FontAwesome'; color: #dbc946; font-size: 16px;}
//    .supergroup {
//        width: 10px;
//    }
//    .supergroup:before { content: '\f07c'; font-family: 'FontAwesome'; color: #dbc946; font-size: 16px;}
//}

// LIST STYILNG
.list-group {
    .list-group-item {
        padding: 5px;
    }
    .list-group-item:hover {
        background-color: #f5ecf4;
        cursor: pointer;
    }
}

// SEARCH
.search-item:hover {
    background-color: #f5ecf4;
}
